@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');


/*

CSS RESET

*/

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    --font1 : 'Raleway', sans-serif ;
    --gray : #f2f5f7;
    --gray1 : #d6dadf;
    --gray2 :#e6e9ebea;
    --gray3 : #f2f5f7;
    --gray_font : #969da7;
    --dark_blue : #2b323b;
}


.main-content{
    height: 100vh;
    width: 100vw;
    padding : 3rem 20rem 3rem 20rem;
    background-color : var(--gray);
    overflow: auto;
}

.header{
    height : 8rem;
    padding: 2rem;
    border-bottom: 2px solid var(--gray1);
}

.title{
    font-family: var(--font1);
    font-size : 4rem;
    font-weight : 800;
}

.grid-box{
    padding : 2rem;
    width :100%;
    height: 55rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/*

SCROLL BAR CUSTOMIZATION

*/

.tasks::-webkit-scrollbar-track,
.tabs::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tasks::-webkit-scrollbar,
.tabs::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.tasks::-webkit-scrollbar-thumb,
.tabs::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--gray1);
}

/*

TABS STYLE

*/

.tabs{
    width :100%;
    height:100%;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    gap : 1rem;
    border-right: 2px solid var(--gray1);
    padding : 1rem;
    overflow: auto;
}
.tasks{
    grid-column: 4 / -1;
    width :100%;
    height:100%;
    overflow : auto;
}

.tabs h3{
    font-size : 2.3rem;
    font-family: var(--font1);
}

.tab{
    height : 4.5rem;
    border-radius: 7px;
    padding : 1rem;
    color : var(--gray_font);
    transition: all 0.3s;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-title{
    height : 4.5rem;
    border-radius: 7px;
    padding : 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h3.plus{
    font-family:sans-serif;
    font-weight: bolder;
}

.projects ul{
    list-style: none;
    display: flex ;
    flex-direction: column;
    gap : 1rem;
}
.projects li{
    font-family: var(--font1);
    font-size : 2rem;
    color : var(--gray_font);
    height : 4rem;
    padding :1rem;
    border-radius: 7px;
    transition: all 0.3s;
}
.projects li:hover, .tab:hover{
    background-color : var(--gray2);
    cursor: pointer;
    color : var(--dark_blue);
}

/*

TASK STYLE

*/

.tasks{
    padding : 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tab-title{
    font-family: var(--font1);
    font-size : 4rem;
}

.task-box{
    height : 10rem;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(3,1fr);
    font-family: var(--font1);
    padding : 1rem;
    border-radius : 10px;
    color : var(--gray_font);
    transition: all 0.3s;
}

.task-box:hover{
    background-color : var(--gray2);
    cursor: pointer;
    color : var(--dark_blue);
}

.check-box{
    grid-column: 1/span 2;
    grid-row : 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    height : 2.7rem;
    width :2.7rem;
    border-radius : 100%;
    border: 0.4rem solid var(--gray_font);
    transition: all 0.3s;
}

.check:hover{
    border: 0.4rem solid black;
}

.checked{
    background-color: var(--gray_font);
}
.checked:hover{
    background-color: black;
}

.task-click{
    grid-column: 3/-1;
    grid-row : 1/-1;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.task-title{
    grid-column: 2 / span 14;
    grid-row: 1 / span 2;
    font-size : 2.5rem;
    display: flex;
    align-items: center;
}

.done{
    text-decoration: line-through;
}


.task-info{
    grid-column: 2 / span 14;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    gap : 2rem;
    display: flex;
    align-items: center;
}


.task-info h6{
    font-size : 1.5rem;
}


/*

    TASk/PROJECT POP UP BOX

*/

.task-view-box, .project-view-box{
    position: absolute;
    top : 0;
    height : 100vh;
    width : 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-view, .project-view{
    background-color: var(--gray3);
    display: flex;
    flex-direction: column;
    gap : 1rem;
    padding : 2rem;
    border-radius : 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.task-view{
    height : 55rem;
    width : 55rem;
}
.project-view{
    height : 40rem;
    width : 40rem;
}

.input{
    display: flex;
    flex-direction: column;
    gap : 0.4rem;
    font-size : 2rem;
    font-family: var(--font1);
}
.input label{
    font-weight: 800;
}

.input input{
    font-size : 1.7rem;
    font-family: var(--font1);
    padding : 1rem;
    border-radius : 10px;
    border: none;
}

.input textarea{
    font-size : 1.5rem;
    font-family: var(--font1);
    border-radius : 10px;
    padding : 1rem;
    border: none;
}

.input input:focus, .input textarea:focus{
    outline: none;
}

.task-view-btns, .project-view-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding : 1rem;
}

.task-view-btns img, .project-view-btns img{
    height : 3rem;
    width : 3rem;
}

.task-btn, .project-btn{
    height : 5rem;
    width : 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition : all 0.3s;
    border-radius : 10px;
}

.task-btn:hover, .project-btn:hover{
    cursor: pointer;
    background-color : var(--gray2);
}
